.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
    
&__container {
    display: flex;
    align-items: baseline;
    gap: 93px;
}

/* logo in footer */
&__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-background-color);
}
&__social-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-background-color);
    
}

&__social-link:hover,
&__social-link:focus {
    background-color: var(--accent-color);
}
}