*,
::after,
::before {
  box-sizing: border-box
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
textarea {
  resize: none;
}